modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start:backend"]
build = ["sh", "-c", "npm run build:all"]

deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42958133
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install && npm run build && cd ../backend && npm install && npm run dev"
